.popup {
  position: fixed;
  background: #c1c7d090;
  backdrop-filter: blur(4px);
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
}

.window {
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 3rem;
  transform: translate(-50%, 0);
  width: 40%;
  height: 90vh;
  border-radius: 10px;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  overflow: scroll;
}

.image-popup {
  max-height: 30rem;
}

.close {
  cursor: pointer;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Rubik', sans-serif;
  display: flex;
  justify-content: flex-end;
}

.title {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 60px;
  margin-top: 30px;
}

.meal {
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  color: #172b4d;
}
